<div id="<%= dom_id tweet %>">
  <p>
    <strong>Author:</strong>
    <%= tweet.author %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= tweet.content %>
  </p>
  <p>
    <stron>Created at:</strong>
    <%= tweet.created_at %>
  </p>
  <p>
    <stron>Likes:</strong>
    <%= tweet.likes %>
  </p>

</div>
